html {
  overflow-y: scroll;
}

body {
		font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
	}

	#container {
		width: 900px;
		margin: auto;
	}

	#nickWrap {
		position: relative;
		margin: auto;
		text-align: center;
	}

		#msgBoxGroup {
			height: 600px;
			max-height: 600px;
			overflow-y: auto;
			overflow-x: hidden;
			font-size: 12px;
		}

		.chatTabPrivate {
			height: 600px;
			max-height: 600px;
			overflow-y: auto;
			overflow-x: hidden;
			font-size: 12px;
			/*
			position: absolute;
			width: 495px;
			*/
		}
		
		.testTab {
			height: 200px;
			width: 200px;
			position: absolute;
			top:10px;
			right:10px;
			border: solid 1px black;
		}

		.date {
			width: 100%;
			clear: both;
			background: honeydew;
			position: relative;
			font-size: 12px;
		}

		.msg {
			font-size: 14px;
			position: relative;
			margin-bottom: 15px;
		}

		.msgFrom {
			position: relative;
			top: 16px;
			left: 5px;
		}

		/*chat bubble*/
		.msgBody {
			background: rgba(231, 231, 231, 0.83);
			position: relative;
			left: 60px;
			top: 0px;
			padding: 10px;
			margin: 100px 0 0.5em;
			color: #333;
			background: #eee;
			word-wrap:break-word;
			line-height: 2.25em;
			height: inherit;
			width: 365px;
			margin: 0px;
		}

		.msgBody img {
			max-width:100%; 
			max-height:100%;
			margin:auto;
			display:block;
		}

		/*
		.msgBody:after {
			content: '';
			position: relative;
			border-style: solid;
			border-width: 12px 15px 12px 0;
			border-color: transparent #EFEFEF;
			display: block;
			width: 0;
			z-index: 1;
			left: -25px;
			top: -17px;
		}
		*/

		#contentWrap {
			display: none;
			margin: auto;
			width: 900px;
		}

		#chatWrap {
			border: 1px #000 solid;
			width: 495px;
			height: 600px;
			margin: auto;
			position:relative;
		}

		.error {
			color: red;
		}

		.private {
			color: green;
			font-style: italic;
		}

		/* Name Box */
		#myChat {
			width: 198px;
			height: 20px;
			position: absolute;
			right: 500px;
			border: solid 1px black;
			top: -1px;
		}

		/* Online Users */
		#users {
			width: 200px;
			position: absolute;
			right: 500px;
			border: solid 1px black;
			top: 25px;
			height: 576px;
			overflow-y: auto;
		}

		#send-message {
			position: relative;
			left: 210px;
			top: 5px;
			}

		.submission {
			width: 400px;
			height: 50px;
			border: 1px solid black;
			border-radius: 5px;
		}

		#gif_window {
			border: solid 1px black;
			width: 401px;
			height: 600px;
			max-height: 600px;
			position: relative;
			left: 700px;
			bottom: 710px;
			overflow-y: auto;
		}

		#gif_window img {
			width: 190px;
		}

		#gifPull {
			border-radius: 2px;
		}

		#gif_search {
			width: 385px;
			position: relative;
			top: -65px;
			left: 710px;
		}


		input:focus::-webkit-input-placeholder { 
			color:transparent; 
		}

		input:focus:-moz-placeholder { 
			color:transparent; 
		}

		#Gif_Zone {
			display: none;
		}

		#Gif_Button {
			width: 45px;
			height: 160px;
			border: 1px solid black;
			border-radius: 5px;
			position: relative;
			left: 700px;
			bottom: 450px;
			font-size: 12px;
			font-weight: bold;
		}

		#Gif_Hide {
			width: 45px;
			height: 160px;
			border-radius: 5px;
			border: 1px solid black;
			position: relative;
			left: 1105px;
			bottom: 1093px;
			font-size: 20px;
			font-weight: bold;
		}

		.userNameBlock {
			margin: 3px;
			font-size: 12px;
			cursor: pointer;
		}

		/*
		.userNameBlock:hover {
			background: darkseagreen;
		}
		*/

		select:active {
			background: #FFF;
		}


		p { 
			font-family: Verdana;
		}

		.pmError {
			color: red;
			font-style: italic;
		}

		/*Notification Highlighting*/
		.notification {
			background: rgb(255, 187, 0);
		}
